{%extends "base.html"%}

{%block contenido%}
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Acerca de</h2>
            <img src="{{url_for("static", filename="images/arch.png")}}" class="img-fluid my-2" alt="Captura de pantalla de KDE Plasma">
        </div>
    </div>
    <p>Hola, yo soy un aficionado a la programación y amante del software de código abierto. Yo uso GNU/Linux en mi laptop, específicamente la distribución de Arch Linux.</p>
    <p>En un futuro quiero ser un ingeniero en software.</p>
</section>
{%endblock%}