{%extends "base.html"%}

{%block contenido%}
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Animales exóticos</h2>
            <p>El reino animal es muy fascinante, este reino reúne un grupo de organismos eucariotas y pluricelulares los cuales no pueden producir su propio alimento, más adelante veremos información de algunos animales.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Caballito de mar</h3>
            <p>Los caballitos de mar, o hipocampos, son peces únicos con una cabeza con forma de caballo que habitan en aguas costeras poco profundas. Una de sus características más distintivos son que los machos son queines dan a luz.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/hippocampo.jpg")}}" class="img-fluid" alt="Un caballito de marr">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Conejo de mar</h3>
            <p>El conejo de mar, también conocido científicamente como Jorunna parva, es una babosa marina que se destaca por su singular apariencia y su comportamiento único que se encuentra en aguas costeras del oceano Pacífico. El conejo de mar se alimenta de pequeños organismos marinos, como crustáceos y esponjas.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/jorunna.jpg")}}" class="img-fluid" alt="Un conejo de mar">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Ornitorrinco</h3>
            <p>El ornitorrinco es un mamímero único que se caracteriza por tener un pico de pato, cuerpo de castor y patas de nutria. Es un excelente nadador y pasa gran parte de su tiempo en el agua buscando alimento.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/ornitorrinco.jpg")}}" class="img-fluid" alt="Dos ornitorrincos">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Rana venenosa</h3>
            <p>Las ranas venenosas son anfibios fascinantes y peligrosos, conocidas por su colorante y potente veneno, que utilizan como defensa contra depredadores. Su piel brillante y colorida sirve como advertencia para los depredadores sobre su toxicidad.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/rana.jpg")}}" class="img-fluid" alt="Una rana venenosa">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Pato</h3>
            <p>El pato es un ave acuática que se caracteriza por vivir en hábitats de agua dulce y salada, como ríos, lagunas y pantanos. Los patos son migratorios y se encuentran en diversas especies.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/pato.jpg")}}" class="img-fluid" alt="Un pato">
        </div>
    </div>
</section>
{%endblock%}