{%extends "base.html"%}

{%block contenido%}
<section class="container">
    <div class="row">
        <div class="col">
            <h1>Inicio</h1>
            <p>Bienvenido a esta página web, aquí encontraras información sobre diversos temas y para verlo navega en el menú de arriba.</p>
        </div>
        <div class="col">
            <img src="images/tux.png" class="img-fluid" alt="Tux, la mascota de Linux">
            <img src="images/konqi.png" class="img-fluid" alt="Konqi, la mascota de KDE">
        </div>
    </div>
</section>
{% endblock %}