{%extends "base.html"%}

{%block contenido%}
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Las Siete Maravillas del Mundo</h2>
            <p>Las nuevas siete maravillas del mundo son monumentos que se merecen ser visitadas y fueron elegidas en un concurso de 2007, esta inspirado en otra lista de monumentos que desgraciadamente la mayoría desaparecieron de la faz de la tierra.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Gran Muralla china</h3>
            <p>Ubicada en China, la Gran Muralla es una antigua fortificación que fue construida y reconstruida entre el sigo V a.C. y el siglo XVI para proteger la frontera norte del Imperio chino de los ataques extranjeros.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/muralla.jpg")}}" class="img-fluid my-2" alt="La Gran Muralla en la sección de Jinshanling">
        </div>
    </div>
</section>
{%endblock%}