{%extends "base.html"%}

{%block contenido%}
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Las Siete Maravillas del Mundo</h2>
            <p>Las nuevas siete maravillas del mundo son monumentos que se merecen ser visitadas y fueron elegidas en un concurso de 2007, esta inspirado en otra lista de monumentos que desgraciadamente la mayoría desaparecieron de la faz de la tierra.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Gran Muralla china</h3>
            <p>Ubicada en China, la Gran Muralla es una antigua fortificación que fue construida y reconstruida entre el sigo V a.C. y el siglo XVI para proteger la frontera norte del Imperio chino de los ataques extranjeros.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/muralla.jpg")}}" class="img-fluid my-2" alt="La Gran Muralla en la sección de Jinshanling">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Petra</h3>
            <p>Ubicada en Jordania, es un importante enclave (osea, un territorio de un país rodeado por uno de otro país) arqueológico y fue la capital del antiguo reino nabateo. Fue fundada a finales del siglo VII a.C. por los edomitas y ocupada en el siglo VI a.C. por los nabateos.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/petra.jpg")}}" class="img-fluid my-2" alt="El edificio más conocido de Petra">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Cristo Redentor</h3>
            <p>El Cristo Redentor o Cristo del Corcovado es una estatua que representa a Jesús de Nazaret, con los brazos abiertos, mostrando a la ciudad de Río de Janeiro, en Brasil. El monumento forma parte de un santuario católico y la archidiócesis de Río de Janeiro gestiona la estatua.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/cristo.jpg")}}" class="img-fluid my-2" alt="Cristo Redentor">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Machu Picchu</h3>
            <p>Ubicado en Perú, es un antiguo poblado incaico construida antes del siglo XV, en la cordillera Oriental del sur del Perú. Según documentos del siglo XVI, tenía carácter privado y es considerada, al mismo tiempo, obra maestra de la arquitectura y la ingeniería.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/peru.jpg")}}" class="img-fluid my-2" alt="Vista de sur a norte">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Chichén Itzá</h3>
            <p>Ubicada en México, es uno de los principales sitios arqueológicos mayas de la península de Yucatán. Fue fundada en el año 250 por los chanes de Bacalar (que después se llamaron itzá y más tarde cocomes).</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/itza.jpeg")}}" class="img-fluid my-2" alt="Una pirámide">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Coliseo</h3>
            <p>Ubicado en Italia, el Coliseo o Anfiteatro Flavio es un anfiteatro de la época del Imperio romano, construido en el siglo I. Originalmente llamado como Anfiteatro Flavio, a partir de la Edad Media pasó a ser llamado Coliseo porque a su lado había una gran estatua del emperador Nerón, el Coloso de Nerón.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/coliseo.jpg")}}" class="img-fluid my-2" alt="El Coliseo en 2020">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Taj Mahal</h3>
            <p>Ubicado en la India, el Taj Mahal es un monumento funerario construido entre 1632 y 1654 a orillas del río Yamuna, por el emperador musulmán Shah Jahan de la dinastía mogol. Este monumento es considerado el más bello ejemplo de tumba.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/Taj_Mahal.jpeg")}}" class="img-fluid my-2" alt="Entrada del Taj Mahal">
        </div>
    </div>
</section>
{%endblock%}