{%extends "base.html"%}

{%block contenido%}
<main class="container">
    <form method="post" action="/registrarme">
        <div class="mb-3 row">
            <div class="col-6">
                <input type="text" class="form-control" id="nombre" name="nombre" required placeholder="Nombre" value={{request.form.get(nombre)}}>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" id="apellido" name="apellido" required placeholder="Apellido" value={{request.form.get(apellido)}}>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nacimiento" class="form-label">Fecha de nacimiento</label>
            <div class="col-4">
                <input type="text" class="form-control" id="nacimiento" name="nacimiento" placeholder="1" readonly>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="nacimiento" name="nacimiento" placeholder="oct" readonly>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="nacimiento" name="nacimiento" placeholder="2025" readonly>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="genero" class="form-label">Género</label>
            <div class="col-4">
                <input type="text" class="form-control" id="genero" name="genero" placeholder="Mujer" readonly>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="genero" name="genero" placeholder="Hombre" readonly>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" id="genero" name="genero" placeholder="Personalizado" readonly>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-12 my-1">
                <input type="email" class="form-control" id="email" name="email" required placeholder="Correo electrónico" value={{request.form.get(email)}}>
            </div>
            <div class="col-12 my-1">
                <input type="password" class="form-control" id="password" name="password" required placeholder="Contraseña" value={{request.form.get(password)}}>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            <div class="col-6">
                <button type="reset" class="btn btn-primary">Restablecer</button>
            </div>
        </div>
    </form>
</main>
{%endblock%}