{%extends "base.html"%}

{%block contenido%}
<section class="container">
    <div class="row">
        <div class="col">
            <h2>Vehículos antiguos</h2>
            <p>Los vehículos se remontan hace miles de años, con la invención de la rueda, y a partir de este se construyeron simples medios de transporte hasta avanzados automóviles y vehículos autónomos.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Ford Modelo T</h3>
            <p>El Ford Modelo T fue un automóvil de bajo precio y primer automóvil producido en masa por la Ford Motor Company de Henry Ford desde 1908 a 1927. Con este modelo se popularizo la producción en masa, permitiendo bajar los costos.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/Modelo_t.jpg")}}" class="img-fluid my-2" alt="Un Modelo T">
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h3>Volkswagen Tipo 1</h3>
            <p>El Volkswagen Tipo 1 fue un popular automóvil producido por Volkswagen entre 1938 y 2003, siendo uno de los automóviles más populares del mundo. Tiene un diseño icónico, era duradero y fácil de reparar.</p>
        </div>
        <div class="col-2">
            <img src="{{url_for("static", filename="images/vocho.jpeg")}}" class="img-fluid my-2" alt="Un vochito o Tipo 1">
        </div>
    </div>
</section>
{%endblock%}